{:paths ["src"]

 :mvn/repos {"acn-snapshots" {:url "https://repo.deps.co/aircraft-noise/snapshots"}
             "acn-releases"  {:url "https://repo.deps.co/aircraft-noise/releases"}}

 :deps
 {org.clojure/clojure                 {:mvn/version "1.10.3"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
  org.threeten/threeten-extra         {:mvn/version "1.6.0"}
  org.postgresql/postgresql           {:mvn/version "42.2.19"}
  net.postgis/postgis-jdbc            {:mvn/version "2.5.0"}
  com.github.seancorfield/next.jdbc   {:mvn/version "1.1.646"}
  factual/geo                         {:mvn/version "3.0.1"}
  cheshire/cheshire                   {:mvn/version "5.10.0"}
  }

 :aliases
 {:mvn/artifact-id coerce
  :mvn/group-id    com.dcj
  :mvn/version     "0.1.1-SNAPSHOT"
  :jar/file-name   "coerce.jar"

  :jar {:replace-deps
        {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar         :jar/file-name
                    :artifact-id :mvn/artifact-id
                    :group-id    :mvn/group-id
                    :version     :mvn/version
                    :sync-pom    true}}

  :deploy {:extra-deps {com.dcj/deps-deploy
                        {:git/url "https://github.com/dcj/deps-deploy.git"
                         :sha "cf0f5e612eab04789c757a98f544eb8dea61a45b"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :artifact :jar/file-name
                       :repository "acn-snapshots"}}
  }
 }
